<!-- remote assets -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
<script src="{{ 'dist/assets/js/require.min.js'|theme }}"></script>
<script>
	requirejs.config({
		baseUrl: 'themes/oc-theme-mautic-org/dist'
	});
</script>
<!--<script src="{{ 'dist/assets/js/vendors/jquery-3.2.1.min.js'|theme }}"></script>-->
<!-- Dashboard Core -->
<link href="{{ 'dist/assets/css/dashboard.css'|theme }}" rel="stylesheet"/>
<script src="{{ 'dist/assets/js/dashboard.js'|theme }}"></script>
<!-- c3.js Charts Plugin -->
<link href="{{'dist/assets/plugins/charts-c3/plugin.css'|theme }}" rel="stylesheet"/>
<script src="{{'dist/assets/plugins/charts-c3/plugin.js'|theme }}"></script>
<!-- Google Maps Plugin -->
<link href="{{'dist/assets/plugins/maps-google/plugin.css'|theme }}" rel="stylesheet"/>
<script src="{{'dist/assets/plugins/maps-google/plugin.js'|theme }}"></script>
<!-- Input Mask Plugin -->
<script src="{{'dist/assets/plugins/input-mask/plugin.js'|theme }}"></script>
