<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					{% partial 'site/navs-footer-links' %}
				</div>
			</div>
			<div class="col-lg-4 mt-4 mt-lg-0">
				{{ this.theme.config.site.tagline }}
			</div>
		</div>
	</div>
</div>
<footer class="footer">
	<div class="container">
		<div class="row align-items-center flex-row-reverse">
			<div class="col-auto ml-lg-auto">
				{% partial 'site/navs-footer-cta-bar' %}
			</div>
			<div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
				{% content 'site/messages-copy-by.htm' %}
			</div>
		</div>
	</div>
</footer>
