[blogPosts recent_blog_posts]
pageNumber = "{{ :page }}"
categoryFilter = "mautic-blogs"
postsPerPage = 5
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/blog-component-category"
postPage = "blog/blog-component-single"

[filterableBlogCategories]
slug = "{{ :slug }}"
displayEmpty = 1
categoryPage = "blog/blog-component-category"
categoryFilter = "mautic-blogs"

[topPosts]
period = 2
category = 0
postPerPage = 5
postPage = "blog/blog-component-single"
slug = "{{ :slug }}"
==
{%set categories = blogCategories.category %}
{% for post in mostVisitedPosts %}
<div class="post">
	<div class="postImage"><img alt="" src="{{post.featured_images[0].path}}"></div>
	<div class="post-content">
		<a href="{{post.url}}"><h5>{{post.title}}</h5></a>
	</div>
</div>
{% endfor %}

<a href="{{ 'mauticians/profile-contributions'|page({user:user.username}) }}" class="d-flex btn btn-outline-brand-purple">
	<span class="icon mr-3"><i class="fe fe-book-open"></i></span>{{ 'Contribute Content'|_ }}
</a>

<h4 class="mt-6">{{ 'Categories'|_ }}</h4>
<div class="list-group list-group-transparent mb-0">
    {% partial 'component_blogCategories/items.htm' %}
</div>
{#

{% set posts =  recent_blog_posts.posts %}
<h4 class="pt-6 mt-6">Latest Articles</h4>
<hr class="my-1" />
<div class="list-group list-group-transparent mb-0">
	{% for post in posts %}
	<a href="{{ post.url }}" class="list-group-item list-group-item-action pl-0">
		<span class="icon mr-3"><i class="fe fe-file"></i></span>
		{{ post.title}}
	</a>
	{% endfor %}
</div>#}