==
<tr>
    <td class="">{{ post.title }}</td>
    <td class="w-25">{{ post.created_at.diffForHumans }}</td>
    <td class="w-25">
        {% if post.published == 0 %}
            <span class="status-icon bg-warning"></span>
            {{ 'Under Review'|_ }}
        {% else %}
            <span class="status-icon bg-success"></span>

            {{ 'Approved'|_ }}
        {% endif %}
    </td>
    <td class="w-5">
        {% if post.published == 0 %}
            {% if isOwnProfile %}<a
                href="{{ 'mauticians/profile-contributions_addedit'|page({user:user.username, mode:'edit', slug:post.slug }) }}" class="btn btn-secondary btn-sm">
                {{ 'Edit'|_ }}</a>
            {% endif %}
        {% else %}
            <a href="{{ 'blog/blog-component-single'|page({slug:post.slug, mode: ''}) }}"
               class="btn btn-secondary btn-sm">{{ 'View'|_ }}</a>
        {% endif %}

    </td>
</tr>
