==
<tr>
    <td class="">{{ post.title }}</td>
    <td class="w-25">{{ post.created_at.diffForHumans }}</td>
    <td class="w-25">
        {% if post.published == 0 %}
            <span class="status-icon bg-warning"></span>
            {{ 'Under Review'|_ }}
        {% else %}
            <span class="status-icon bg-success"></span>

            {{ 'Approved'|_ }}
        {% endif %}
    </td>
    <td class="w-5">
        {% set buttonsPartial = 'component_blog/table_row_action_buttons' %}
        {% if buttonsPartialNew %}
            {% set buttonsPartial = buttonsPartialNew %}
        {% endif %}
        {% partial buttonsPartial post=post %}
    </td>
</tr>