{% for category in categories %}
    {% set postCount = category.post_count %}
    {% if category.children|length < 1 %}
        <a href="{{ category.url }}" class="list-group-item list-group-item-action pl-0"><span class="icon mr-3"><i
                        class="fe fe-folder"></i></span>{{ category.name }}</a>
    {% endif %}

    {% if category.children|length > 1 %}
        <ul class="category-list pl-0">
            {% partial 'component_blogCategories/items.htm'
            categories=category.children
            currentCategorySlug=currentCategorySlug %}
        </ul>
    {% endif %}
{% endfor %}