[viewBag]
==
{% import 'macros/user' as usermacros %}

<div class="card card-profile">
    <div class="card-header" style="background-image: url({{ user.avatarThumb(300) }})"></div>
    <div class="card-body">
        {% if isOwnProfile %}
            <small class="pull-right"><a href="{{ 'mauticians/profile-single-edit'|page({user:profile.username, mode:'edit'}) }}"
                   class="">{{ 'Edit Profile'|_ }}</a>
            </small>
        {% endif %}

        <h3 class="mb-2 font-weight-bold">{{ user.name }} {{ user.surname }}</h3>
        <p class="mb-1">{{ user.username }}</p>
        {#<p class="mb-4"><span class="text-muted">{{ usermacros.getUserSubline(user, " | ") }}</span></p>#}
        {% if user.mtcorg_location %}
            <p class="mb-0"><span class="text-muted">
					{{ user.mtcorg_location }}</span></p>
        {% endif %}
        <hr class="mt-2 mb-2">
        {#<ul class="social-links list-inline mb-0 mt-2">
            <!--<li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="1234567890"><i class="fa fa-phone"></i></a>
            </li>
            <li class="list-inline-item">
                <a href="javascript:void(0)" title="" data-toggle="tooltip" data-original-title="@skypename"><i class="fa fa-skype"></i></a>
            </li>-->
        </ul>#}

        <h4>{{ 'About'|_ }}</h4>
        {% if profile.mtcorg_about|striptags|trim %}
            {{ profile.mtcorg_about|raw }}
        {% elseif isOwnProfile %}
            <a href="{{ 'mauticians/profile-single-edit'|page({user:profile.username, mode:'edit'}) }}">
                {{ 'add info'|_ }}
            </a>
        {% endif %}
        <hr class="mt-2 mb-2">
        <h4>{{ 'Professional Info'|_ }}</h4>
        {% if profile.mtcorg_professional|raw|trim|striptags %}
            {{ profile.mtcorg_professional|raw }}
        {% elseif isOwnProfile %}
            <a href="{{ 'mauticians/profile-single-edit'|page({user:profile.username, mode:'edit'}) }}">
                {{ 'add info'|_ }}
            </a>
        {% endif %}
    </div>
</div>


<div class="card p-3">
    <div class="d-flex align-items-center">
    <span class="stamp stamp-md bg-dark mr-3">
      <i class="fe fe-clock"></i>
    </span>
        <div>
            <h4 class="m-0"><a href="javascript:void(0)">
                    <small>{{ user.activated_at|date('M d, Y') }}</small>
                </a></h4>
            <small class="text-muted">{{ user.name }} {{ 'became a Mautician'|_ }}</small>
        </div>
    </div>
</div>