{% set crumbOptions = __SELF__.options %}
{% if currentCrumb.show_crumb %}
        <ol class="{{ crumbOptions['main-ol-class'] }}" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% set activeCrumb = '' %}
        {% set crumbPosition = 0 %}
        {% for crumb in breadcrumbs %}
            {% if crumb.in_crumb_trail %}
            {% set crumbPosition = crumbPosition+1 %}
                <li class="{{ crumbOptions['main-li-class'] }} {% if crumb.crumb_disabled %} {{ crumbOptions['disabled-class'] }} {% endif %} {% if loop.last %} {{ crumbOptions['active-class'] }} {% endif %}" {% if loop.last %} id="bcLast" {% elseif crumb.elementTitle %} id="crumb-{{ crumb.elementTitle }}" {% endif %} itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    {% if not loop.last and not crumb.crumb_disabled %} <a itemprop="item" href="{{ crumb.baseFileName | page }}"> {% endif %} <span itemprop="name">{{ crumb.title }}</span> <meta itemprop="position" content="{{crumbPosition}}" />{% if not loop.last and not crumb.is_disabled %}</a>{% endif %}
                </li>
            {% endif %}

            {% if loop.last %}
                {% set activeCrumb = crumb %}
            {% endif %}

        {% endfor %}
    </ol>
{% endif %}

    {% set array = [] %}
    {% for crumb in breadcrumbs|reverse %}
        {% if crumb.elementTitle and crumb.elementTitle not in array and crumb.elementTitle != activeCrumb.elementTitle  %}
            {% set array = array|merge([crumb.elementTitle]) %}
        {% endif %}
    {% endfor %}


{# javascript to enable dynamic breadcrumbs. Helpful for ':slug' type routes #}
{% if activeCrumb.elementTitle or array %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var bcTitle = document.getElementById('{{ activeCrumb.elementTitle }}');
            var bcActive = document.getElementById('bcLast');

            if (bcTitle) {
                bcActive.innerHTML = bcTitle.innerHTML;
            }

            {% for a in array %}
            var newContent = document.getElementById('{{ a }}').innerHTML;
            document.getElementById('crumb-{{ a }}').innerHTML = newContent;
            {% endfor %}
        });
    </script>
{% endif %}
