title = "User - Marketplace"
url = "/mauticians/:user/marketplace/:mode/:slug?"
layout = "sidebar-left"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 1
remove_crumb_trail = 0
crumb_disabled = 0
robot_index = "noindex"
robot_follow = "nofollow"

[viewBag]
localeUrl[de] = "/user-marketplace"
localeUrl[fr] = "/user-marketplace"
localeUrl[pgl] = "/user-marketplace"

[userProfile]
username = "{{ :user }}"

[addNewExtension]
==
<?php
function onEnd(){
$this->page->title = $this->profile->name . ' ' . $this->profile->surname . ' / ' . $this->profile->username;
}
?>
==
{% if profile %}
	{% put sidebar %}
	{% partial 'component_userProfile/user-sidebar' user=profile %}
	{% endput %}

	{% if isOwnProfile %}
		<div class="card">
			<div class="card-header">
				{% if this.param.mode == 'new' %}
					<h3 class="card-title">{{ 'Add new extension'|_ }}</h3>
					{% else %}
					<h3 class="card-title">{{ 'Edit extension'|_ }}</h3>
				{% endif %}
				<div class="card-options">
					<a href="{{ 'mauticians/profile-single'|page({user:profile.username}) }}"
					   class="">{{ 'return to profile'|_ }}
					</a>
				</div>
			</div>
			<div class="card-body">
				{% partial 'component_marketplace/form_upload_new' download=download %}
			</div>
		</div>
	{% endif %}
{% else %}
	<h3>Not Found</h3>
{% endif %}