title = "User - Forum Activity"
url = "/mauticians/:user/forum"
layout = "sidebar-left"
is_hidden = 0
hide_crumb = 1

[userProfile]
username = "{{ :user }}"
==
<?php
function onEnd(){
}
?>
==
{% if profile %}
	{% put sidebar %}
	{% partial 'component_userProfile/user-sidebar' user=profile %}
	{% endput %}

	<div class="row">

		<div class="col-12">
			<div class="card">
				{% if messages|length %}
					<ul class="list-group card-list-group">
						{% for post in messages %}
							<li class="list-group-item py-5 media forum-post" data-post-id="{{ post.id }}"
								id="post-{{ post.id }}">
								<div class="media-body">
									<div class="media-heading">
										<a href="{{ 'forum/topic'|page({slug:post.topic.slug}) }}">
											<small class="text-muted">in {{ post.topic.channel.title }}
												> {{ post.topic.subject }}</small>
										</a>
									</div>
									<div class="text">
										{{ post.content }}
									</div>
								</div>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

			</div>
		</div>
	</div>

{% else %}
	{# @todo: rather than render no-content content, redirect from `onEnd` to a different page/section #}
	<h3>Not Found</h3>
{% endif %}
