title = "User - Marketplace"
url = "/mauticians/:user/marketplace"
layout = "sidebar-left"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 1
remove_crumb_trail = 0
crumb_disabled = 0

[viewBag]
localeUrl[de] = "/user-marketplace"
localeUrl[fr] = "/user-marketplace"
localeUrl[pgl] = "/user-marketplace"

[userProfile]
username = "{{ :user }}"

[addNewExtension]
==
<?php
function onEnd(){
$this->page->title = $this->profile->name . ' ' . $this->profile->surname . ' / ' . $this->profile->username;
}
?>
==
{% if profile %}
	{% put sidebar %}
	{% partial 'component_userProfile/user-sidebar' user=profile %}
	{% endput %}

	<div class="row">
		<div class="col-12 page-header d-flex">
			<h1 class="page-title-icon mb-1">User Marketplace Mixins</h1>
		</div>
	</div>

	<div class="row row-deck">
		{% if profile.downloads|length %}
			{% for download in profile.downloads %}
				{% partial 'component_marketplace/card' download=download %}
			{% endfor %}
		{% endif %}
	</div>

	{% if isOwnProfile %}
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Add new Extension</h3>
			</div>
			<div class="card-body">
				{% partial 'component_marketplace/form_upload_new' %}
			</div>
		</div>
	{% endif %}
{% else %}
	<h3>Not Found</h3>
{% endif %}
