<a href="{{ 'content/about'|page() }}" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
	<span class="icon mr-3"><i class="fe fe-copy"></i></span>{{'Legal'|_}}
</a>
<a href="{{ 'content/licensing'|page() }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-file-text"></i></span>{{'Licensing'|_}}
</a>
<a href="{{ 'content/trademark'|page() }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe mtc-mautic"></i></span>{{'Brand & Trademark'|_}}
</a>
<a href="{{ 'blog/blog-component-single'|page( {slug: 'mautic-and-gdpr'}) }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-globe"></i></span>{{'GDPR'|_}}
</a>
