<a href="#" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
	<span class="icon mr-3"><i class="fe fe-at-sign"></i></span>Social <span class="ml-auto badge badge-brand-purple">10,992 <i class="pl-1 fe fe-users"></i></span>
</a>
<a href="https://twitter.com/mauticCommunity" target="_blank" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-twitter"></i></span>Twitter <span class="ml-auto badge badge-dark">2,275</span>
</a>
<a href="https://www.facebook.com/MauticCommunity" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-facebook"></i></span>Facebook <span class="ml-auto badge badge-dark">3,310</span>
</a>
<a href="https://www.linkedin.com/groups/8221750" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-linkedin"></i></span>LinkedIn <span class="ml-auto badge badge-dark">787</span>
</a>
<a href="https://mautic.slack.com" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-slack"></i></span>Slack <span class="ml-auto badge badge-dark">4,620</span>
</a>
