<a href="{{'content/getting-started'|page() }}" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
	<span class="icon mr-3"><i class="fe fe-map-pin"></i></span>{{'Getting Started'|_}}
</a>
<a href="{{ 'content/getting-started'|page }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-download-cloud"></i></span>{{'Download & Install'|_}}
</a>
<a href="{{ 'content/getting-started'|page }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-settings"></i></span>{{'Configuration'|_}}
</a>
<a href="{{ 'help/help-post'|page( {slug: 'how-to-import-contacts'} ) }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-users"></i></span>{{'Importing Contacts'|_}}
</a>
<a href="{{ 'help/help-post'|page( {slug: 'how-to-build-a-campaign'} ) }}" class="list-group-item list-group-item-action d-flex align-items-center">
	<span class="icon mr-3"><i class="fe fe-git-pull-request"></i></span>{{'First Campaign'|_}}
</a>
