<a href="#" class="list-group-item list-group-item-action d-flex align-items-center active text-brand-purple">
	<span class="icon mr-3"><i class="fe fe-award"></i></span>{{'Most Active Mauticians'|_}}
</a>
<a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
	<span class="icon mr-3"><span class="avatar avatar-sm">RB</span></span> Ronald Baher <span class="ml-auto badge badge-dark">Forums</span>
</a>
<a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
	<span class="icon mr-3"><span class="avatar avatar-sm">NP</span></span> Norman Pracht <span class="ml-auto badge badge-dark">Github</span>
</a>
<a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
	<span class="icon mr-3"><span class="avatar avatar-sm">KA</span></span> Kevin Ard <span class="ml-auto badge badge-dark">Website</span>
</a>
<a href="#" class="list-group-item list-group-item-action d-flex align-items-center px-3">
	<span class="icon mr-3"><span class="avatar avatar-sm">PL</span></span> Paul Linhardtst <span class="ml-auto badge badge-dark">Slack</span>
</a>
