[viewBag]
==
<ul class="list-unstyled list-inline mb-0">
	<li class="list-inline-item">
		<a href="{{ 'content/getting-started'|page }}" class="nav-link ">Getting Started</a>
	</li>
	<li class="list-inline-item">
		<a href="{{ 'working-groups/group-list'|page }}" class="nav-link ">Getting Involved</a>
	</li>
<!--	<li class="list-inline-item">
		<a href="{{ 'content/about'|page }}" class="nav-link ">About</a>
	</li>
-->
	<li class="list-inline-item">
		<a href="{{ 'blog/blog-component-recent'|page }}" class="nav-link ">Blog</a>
	</li>
	<li class="list-inline-item">
		<a href="{{ 'mauticians/profile-list'|page() }}" class="nav-link ">Mauticians</a>
	</li>
	<li class="list-inline-item">
		<a href="{{ 'mauticamps/mauticamp-list'|page() }}" class="nav-link ">Mauticamps</a>
	</li>
	<li class="list-inline-item">
		<a href="{{ 'marketplace/listing'|page() }}" class="nav-link ">Marketplace</a>
	</li>
</ul>
