[viewBag]
==
<li class="nav-item">
	<a href="{{ 'home'|page }}" class="nav-link "><i class="fe fe-home"></i> {{'Home'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'help/help-featured'|page() }}" class="nav-link "><i class="fe fe-book"></i> {{'Help Center'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'developers/home'|page }}" class="nav-link "><i class="fe fe-power"></i> {{'Developers & API'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'blog/blog-component-recent'|page }}" class="nav-link "><i class="fe fe-edit"></i> {{'Blog'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'forum/home'|page( {filter: ''}) }}" class="nav-link "><i class="fe fe-life-buoy"></i> {{'Forum'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'marketplace/listing'|page }}" class="nav-link "><i class="fe fe-shopping-bag"></i> {{'Marketplace'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'mauticamps/mauticamp-list'|page() }}" class="nav-link "><i class="fe fe-triangle"></i> {{'Mauticamps'|_}}</a>
</li>
<li class="nav-item">
	<a href="{{ 'content/about'|page() }}" class="nav-link "><i class="fe fe-info"></i> {{'About Mautic'|_}}</a>
</li>

{#---#}
<li class="nav-item d-lg-none">
	<a href="{{ 'download'|page() }}" class="d-block mt-2 mb-4 btn btn-brand-purple"> {{'Download'|_}}</a>
</li>
