title = "Marketplace"
url = "/marketplace/"
layout = "blank"
meta_title = "Marketplace"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0
robot_index = "index"
robot_follow = "follow"

[viewBag]
localeUrl[de] = "/marketplace"
localeUrl[fr] = "/marketplace"
localeUrl[pgl] = "/marketplace"
localeUrl[pt-br] = "/marketplace"
localeUrl[jp] = "/marketplace"

[downloadListing]
==
<?php
function onEnd(){
if($this->download){
$this->page->title = $this->download->name;
}
}
?>
==
{% put scripts %}
	<script type="text/javascript">
		function submitSearch() {
			var txt = $('#interest-search').val();
			$('.card-body').each(function () {
				if ($(this).text().toUpperCase().indexOf(txt.toUpperCase()) != -1) {
					$(this).parent().parent().fadeIn();
				} else {
					$(this).parent().parent().fadeOut();
				}
			});
		}
		$(document).ready(function () {
//    $('.card-body').parent().parent().show();
			$('#search').click(submitSearch());

			$('#interest-search').keypress(function (e) {
				if (!e) {
					var e = window.event;
				}
				if (e.keyCode == 13 || $(this).val().length > 0) {
					submitSearch();
				}
			});
		});
	</script>
{% endput %}

{% put before %}
	<div class="page-header d-block text-center">
		<h1 class="p-5">{{ 'Marketplace'|_ }}</h1>
	</div>
	<div class="row col-6 mx-auto mb-6 pb-6">
		<div class="input-group input-group-lg ">
			<input type="text" id="interest-search" class="form-control" placeholder="{{ 'What are you trying to find?'|_ }}">
			<span class="input-group-append">
        </span>
		</div>
		{% if user %}
		<a class="btn btn-outline-brand-purple mt-5 ml-auto mr-auto " href="{{ 'mauticians/profile-marketplace_addedit'|page({user:user.username, mode: 'add'}) }}">{{ 'Submit your Mautic Mixins'|_ }}</a>
		{% endif %}
	</div>
{% endput %}

<div class="row row-deck">
	{% for download in downloads|reverse if download.review_status == 'approved' %}
		{% partial 'component_marketplace/card' download=download %}
	{% endfor %}
</div>