description = "Support. 12/3/9 header/sidebar/content"

[session]
security = "all"

[votable]
==
<!doctype html>
<html lang="en" dir="ltr">
<head>
	{% component 'session' %}
	{% partial 'site/assets-common' %}
	{% partial 'site/site-meta-common' %}
</head>
<body class="">
<div class="page">
	<div class="page-main">
		{% partial 'site/header' %}
		<div class="my-3 my-md-5">
			<div class="container">
				<div class="page-header">
					<h1 class="page-title">{{ this.page.title }}</h1>
				</div>
				<div class="row">
					<div class="col-lg-3 order-lg-1 mb-4">
						{# @todo: xref layout/download. (cpd vs. layout/default) #}
						{% partial 'site/sidebar/support' %}
					</div>
					<div class="col-9">
						<div class="card">
							<div class="card-body">
								<div class="text-wrap p-lg-6">
									{% page %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% partial 'site/footer' %}
</div>
{% partial 'site/assets-common-bottom' %}
</body>
</html>
