description = "Default layout"

[session]
security = "all"

[votable]

[staticPage]
useContent = 1
default = 0
==
<!doctype html>
<html lang="en" dir="ltr">
<head>
    {% component 'session' %}
    {% partial 'site/assets-common' %}
    {% partial 'site/site-meta-common' %}
</head>
<body class="">
<div class="page">
    <div class="page-main">
        {% partial 'site/header' %}
        <div class="my-3 my-md-5">
            <div class="container">
                <div class="row page-header text-center">
                    <h1 class="col-12">{{ this.page.title }}</h1>
                </div>
                <div class="row">
                    <div class="col-12">{% page %}</div>
                </div>
            </div>
        </div>
    </div>
    {% partial 'site/footer' %}
</div>

<!-- scripts -->
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
{% framework extras %}
{% scripts %}
</body>
</html>
