title = "Translation Forum"
url = "/translation/:groupslug/forum"
layout = "sidebar-left"
is_hidden = 0
child_of = "translation/translation-single"
hide_crumb = 0
crumb_title = "Discussions"
remove_crumb_trail = 0
crumb_disabled = 0

[usergroup]
slug = "{{ :groupslug }}"
==
<?php
function onEnd()
{
$this->page->title = $this['group']->name . ' Forum';
}
?>
==
{% if group %}
	{#{% put pageBanner %}
		{{ this.page.title }}
	{% endput %}#}

	{% put sidebar %}
	{% partial 'component_translations/translations-sidebar' %}
	{% endput %}

	{% if group.forum_channel %}
		{% set channel = group.forum_channel %}
		{% partial 'forum_channel_translation/default.htm' channel=group.forum_channel group=group %}
	{% endif %}

{% else %}
	<p>Couldn't find that group</p>
{% endif %}